<div class="title">
        <h4>注册 Smartisan ID</h4> 
 </div>
 <div class="row land-row">
         <div class="input-group">
                 <span class="input-group-addon" style=" background-position: -196px 0;"></span></span>
                 <input placeholder="国家和地区" disabled style="pointer-events: none;" type="text" class="form-control">
                 <span class="errorMessage">
                         
                 </span>
         </div>
         <div class="input-group">
                 <span class="input-group-addon" ></span>
                 <span id="diqu">+86</span>
                 <input id="phone" placeholder="手机号"style="padding-left:95px;"  type="text" class="form-control" >
                 <span class="errorMessage">
                         手机号格式错误
                 </span>
         </div>
          <div class="input-group"  style="width:60%; float:left;margin-bottom: 20px;">
                 <span class="input-group-addon"  style="background-position: -98px 0;"></span>
                 <input id="messageNum" placeholder="短信验证码" type="text" class="form-control">
                 
                 <span class="errorMessage">
                         验证码格式错误
                 </span>
         </div>
         <input class="btn  yz" type="submit" value="获取验证码">

         <div class="input-group">
                 <span class="input-group-addon" style=" background-position: -49px 0;"></span>
                 <input  id="password1"  placeholder="密码" type="password" class="form-control" >
                 <span class="errorMessage">
                         密码格式错误
                 </span>
                 <div class="mmgs">
                        <p>密码长度 6~16 位，数字、字母两种</p> <!-- 和符号至少包含 -->
                 </div>
         </div>
         <div class="input-group">
                 <span class="input-group-addon" ></span>
                 <input id="password2" placeholder="重复密码"type="password" class="form-control" >
                 <span class="errorMessage">
                        俩次密码不一致
                 </span>
                 <div class="mmgs">
                        <p>密码长度 6~16 位，数字、字母两种</p>
                </div>
         </div>
 </div>


 <div class="row con-rem">
         <div class="rem">
         <div class="left">
                 <span></span>我已阅读并同意遵守 <a href="https://www.smartisan.com/support/#/other-service/agreement" target="_blank">法律声明</a>  和  <a target="_blank" href="https://www.smartisan.com/support/#/other-service/privacy">隐私条款</a> 
         </div>
         </div>
 </div>
 <div class="row con-btn">
         <input id="zc" class="btn btn-default center-block col-lg-12" disabled   type="button" value="注册"">
 </div>
 <div class="row bottom">
                
         <div class="land">
                         如果您已拥有 Smartisan ID，则可在此 
                 <a href="http://localhost:8080/pages/registerAndLand/registerAndLand.html?val=land">
                         登录
                 </a>
                 
         </div>
 </div>

