<div class="logo">
    <h4>
            使用 Smartisan ID 登录官网
    </h4>

</div>
<div class="row">
        <div class="input-group">
                <span class="input-group-addon"></span>
                <input placeholder="手机号/邮箱" type="text" class="form-control">
                <span class="errorMessage">
                        手机号/邮箱格式错误
                </span>
        </div>
        <div class="input-group">
                <span class="input-group-addon" style=" background-position: -49px 0;"></span>
                <input placeholder="密码" type="password" class="form-control" >
                <span class="errorMessage">
                        密码错误
                </span>
        </div>
</div>
<div class="row con-rem">
        <div class="rem">
            <div class="left">
                <span></span>自动登录
            </div>
            <div class="right">
               
                <a href="http://localhost:8080/pages/registerAndLand/registerAndLand.html?">注册 Smartisan ID</a>&nbsp;&nbsp;&nbsp;
                <a href="#">忘记密码？</a>
            </div>
        </div>
</div>
<div class="row con-btn">
        <input class="btn btn-default center-block col-lg-12" disabled   type="button" value="登录">
</div>
<div class="row bottom">
    <ul>
        <li>
                其他账号登录：
        </li>
        <li style="background-position-x:0px">

        </li>
        <li style="background-position-x:-30px">

        </li>
        <li style="background-position-x:-60px">

        </li>
        <li style="background-position-x:-90px">

        </li>
    
    </ul>
    <div class="other">
        <a href="">
                国际手机号登录 >
        </a>
           
    </div>
</div>