@import "../../common/common";
html,body{
    width:100%;
    height:100%;
}
.container-fluid{
    padding :0;
    margin: 0;
 
}
.head{
    min-height:800px;
    min-width : 630px;
    background-image: url("https://static.smartisanos.cn/account.common/img/v2/bg_9b9dcb65ff.png");
    height:100%;
    width:100%;
    position: relative;
}
.form{
    position: absolute;
    top:15%;
    left: 0;
    right:0;
    width:450px;
    margin: auto;
    background-image: url("https://static.smartisanos.cn/account.common/img/dialog-gray-bg_42c40b3eb6.png");
    background-repeat: repeat-x;
    background-position-y: bottom;
    background-color:#fff;
    border-radius:10px;
    border:1px solid #dadada;
    box-shadow: 0 9px 30px -6px rgba(0,0,0,.2), 0 18px 20px -10px rgba(0,0,0,.04), 0 18px 20px -10px rgba(0,0,0,.04), 0 10px 20px -10px rgba(0,0,0,.04);
    .logo{
        background:url("https://static.smartisanos.cn/account.common/img/v2/logo/smartisan_4ada7fecea.png") no-repeat center;
        margin: 23px 0 50px;
        padding: 75px 0 0;
        height:92px;
        > h4{
            font-size: 20px;
           margin-top:35px;
        }
       
    }
    > .row{
        padding: 0;
        margin: 0;
        padding:50px 40px 0;
        input{
            height:46px;
        }
        .input-group{
            margin-top:20px;
            position: relative;
            >.input-group-addon{
               background:  -webkit-linear-gradient(#f8f8f8,#fafafa);
                position: absolute;
                display: block;
                top:0;
                border-right: 1px solid #ccc;
                width:46px;
                height:46px;
               
                border-top-left-radius:10px;
                border-bottom-left-radius: 10px;
                background: url('https://static.smartisanos.cn/account.common/img/dialog-input-icons_ff627ad6dc.png') no-repeat;
               
            } 
            >.input-group-addon:first-child{
                background-position: -1px 0;
            }
            >.input-group-addon-active{
                border-color: #66afe9
            }
            
            > .form-control{
                padding-left:55px;
                font-size: 16px;
                background-color: transparent;
                border-radius: 10px;
                // border-top-right-radius:10px;
                // border-bottom-right-radius: 10px;
                &:focus{
                    box-shadow: none;
                    border-color: none;
                    // border-left: solid 1px #ccc;
                }
            }
            >.form-control-active{
                background-color : white;
            }
           width:100%;
           border-radius:10px;
           background-color: transparent;
           box-shadow: 0 3px 5px -4px rgba(0,0,0,.4) inset, -1px 0 3px -2px rgba(0,0,0,.1) inset;
           
            }
            .input-group-active{
                border: 1px solid #6b93f2;   
            }
         }
    .errorMessage{
        background: #d16d62;
        border-radius: 4px;
        color: #fff;
       display: none;
        font-size: 12px;
        font-weight: 400;
        height: 26px;
        line-height: 26px;
        margin: 10px 0 0;
        // opacity: 0;
        padding: 0 10px;
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 10;
    }
    >.con-rem{
        padding-top:0px;
        >.rem{
            margin: 15px 5px 25px;
            > .left{
                color: #999;
                float: left;
                font-size: 12px;
                cursor: pointer;
               
                line-height: 20px;
               > span{
                    display: block;
                    width:20px;
                    height:20px;
                    float: left;
                   
                    background: url('https://static.smartisanos.cn/account.common/img/v2/checkbox_f49f6e4acf.png') no-repeat;
                    background-position-y: -20px;
                }
                >.span-active{
                    background-position-y: 0;
                }
                
                >.span-error{
                    border-color:#d16d62;
                }
            }
            >.right{
                position: relative;
                margin-right:-10px;
                > a{
                    color:#5079d9;
                    font-size: 12px;
                    &:hover{
                        text-decoration: none;
                        color:#5079d9;
                    }
                }
                float: right;
                &::after{
                    content: "";
                    background: #999;
                    width:1px;
                    height:9px;
                    position: absolute;
                    left:104px;
                    top:6px;
                    bottom: -16px;

                }
            }
         }
    }

    .con-btn{
        padding-top:20px;
        >.btn{
           background-color: #6383c6;
           color: #fff;
           font-size: 18px;
           border-radius: 10px;
           height:48px;
           outline: none;
           pointer-events: none;
          // pointer-events: painted;
        }
    }
    .bottom{
        font-size: 12px;
        margin-top:30px;
        padding-top:20px;
        padding-bottom: 20px;
        border-top:1px solid #d9d9d9;
        color: #999;
        >ul{
            display: block;
            overflow: hidden;
            float: left;;
            >li{
                float: left;
            }
            >li:not(:first-child){
                cursor:pointer;
                width:20px;
                height:17px;
                margin-left: 10px;
                background-image: url("https://static.smartisanos.cn/account.common/img/v2/icons_c3a3154da5.png");
                &:hover{
                    background-image: url("https://static.smartisanos.cn/account.common/img/v2/icons-hover_7b3065c847.png")
                }
            }
        }
        .other{
            float:right;
            a{
                color: #999;
                &:hover{
                    color:#5079d9;
                    text-decoration: none;
                }
            }
        }
    }



}

.con-bottom{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom: 60px;
    width: fit-content;
    .con{
        margin: 0 auto;
        overflow: hidden;
        
        >h2{
            height:15px;
            font-size: 12px; 
            color: #999;
            float:left;
            margin-right:10px;
        }
        >ul{
            float:left;
            >li{
                height:15px;
                line-height: 12px;
                float:left;
                border-left:1px solid #d9d9d9;
                padding:0 10px;
                a{
                    color: #5079d9;
                    font-size: 12px;
                    &:hover{
                        text-decoration: none;
                        
                    }
                }
            }
        }
    }
    .icp{
        margin: 0 auto;
        text-align: center;
        a{
            &:hover{
                text-decoration: none;
                color:#5079d9;
            }
        }
    }
    
}

